*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	background: #ededed;
}
/* 顶部开始 */
.top{
	width: 100%;
	height: 75px;
	background: url('../img/toppic.png') no-repeat center
}
.topnav{
	width: 1220px;
	height: 75px;
	margin: 0 auto;
	/* background: red; */
}
.topnav .leftbox{
	font-size: 32px;
	line-height: 75px;
	text-align: center;
	width: 242px;
	color: #619d01;
	font-weight: bold;
	float: left;
}
.topnav .rightbox{
	width: 212px;
	height: 75px;
	float: right;
	display: flex;
	justify-content: space-between;
}
.rightbox a{
	display: block;
	width: 106px;
	line-height: 75px;
	font-size: 14px;
	color: #c8c8c8;
	text-align: center;
	cursor: pointer;
}
.rightbox a:hover{
	color: #fff;
}
.tabcontent{
	width: 1220px;
	height: 62px;
	margin: 0 auto;
	/* position: fixed;
	top: 75px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto; */
}
.tabcontent ul{
	width: 528px;
	height: 62px;   
}
.tabcontent ul li{
	float: left;
	position: relative;
}
.tabcontent ul li a{
   display: block;
   padding: 20px  20px;
   color: #666;
   font-size: 14px;
   line-height: 22px;  
}
.tabcontent ul li a:hover{
	color: blue;
}
.tabcontent ul li .shou{
	padding-left: 0px;
	
}
.tabcontent ul li .fuwu{
	font-weight: bold;
}
.xiala{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent ul li .xiala .xia1{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px;
}
.tabcontent ul li .xiala .xia1:hover{
	color: blue;
	background: #ccc;
}
.xiala1{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent ul li .xiala1 .xia2{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px
}
.tabcontent ul li .xiala1 .xia2:hover{
	color: blue;
	background: #ccc;
}
/* 定位的导航 */
.tabd{
	width: 100%;
	height: 62px;
	background: #ededed;
	position: fixed;
	top: -62px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #ededed;
	z-index: 100;
}
.tabcontent1{
	width: 1220px;
	height: 62px;
	margin: 0 auto;
}
.tabcontent1 ul{
	width: 528px;
	height: 62px;   
}
.tabcontent1 ul li{
	float: left;
	position: relative;
}
.tabcontent1 ul li a{
   display: block;
   padding: 20px  20px;
   color: #666;
   font-size: 14px;
   line-height: 22px;  
}
.tabcontent1 ul li a:hover{
	color: blue;
}
.tabcontent1 ul li .shou{
	padding-left: 0px;
}
 .tabcontent1 .xiala{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent1 ul li .xiala .xia1{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px
}
.tabcontent1 ul li .xiala .xia1:hover{
	color: blue;
	background: #ccc;
}
.tabcontent1  .xiala1{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent1 ul li .xiala1 .xia2{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px
}
.tabcontent1 ul li .xiala1 .xia2:hover{
	color: blue;
	background: #ccc;
}
.tabcontent1 ul li .fuwu{
	font-weight: bold;
}
/* 定位的导航结束 */
/* 顶部结束 */
.smalltab{
	width: 1220px;
	height: 58px;
	margin: 0 auto;
}
.smalltab a{
	display: block;
	padding: 20px;
	font-size: 12px;
	color: #999;
	float: left;
}
.smalltab a:first-child{
	padding-left: 0;
}
.smalltab a:hover{
	color: blue;
}
/* 团队介绍 */
.xiangmu{
	width: 1220px;
	height: 64px;
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
	line-height: 64px;
}
.intro{
	width: 1220px;
	height: 200px;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
}
.intro p{
   font-size: 14px;
   color: #999;
   text-align: center;
   margin: 30px auto;
   line-height: 25px;
   padding: 20px;
   text-indent: 2em;
}
/* team开始 */
.team{
	width: 1220px;
	height: 546px;
	margin: 0 auto;
	margin-top: 60px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 8px;
	background: #fff;
}
.teamtop{
	width: 100%;
	height: 55px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
	padding-top: 15px;
}
.teamleft{
    width: 300px;
	height: 55px;
	margin-left: 30px;
	float: left;
}
.teamleft h3{
    font-size: 22px;
    font-weight: 300;
    color: #666;
}
.teamleft p{
	font-size: 12px;
	color: #b2b2b2;
}
.teamright{
	display: block; 
	width: 100px;
	height: 34px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	font-size: 14px;
	text-align: center;
	line-height: 34px;
	float: right;
	margin-right: 15px;
	border-radius: 4px;
	color: #666;
}
.teamright:hover{
	background: rgba(0,0,0,0.06);
}
.tteam{
	width: 100%;
	height: 474px;
}
.tteam li{
	width: 304px;
	height: 474px;
	border-right: 1px solid rgba(0, 0, 0, 0.14);
	float: left;
}
.tteam li:last-child{
	border-right: none;
}
.person{
	width: 100%;
	height: 300px;
}
.person img{
	width: 195px;
	height: 250px;
	padding: 55px;
	display: block;
	padding-bottom: 0;
}
.renname{
	width: 100%;
	height: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.renname .one{
	font-size: 16px;
	color: #424242;
	margin-right: 5px;
}
.renname .two{
	font-size: 14px;
	color: #424242;
}
.line{
	width: 180px;
	height: 1px;
	background: #eeeeee;
	margin: 12px auto;
}
.jieshao{
	font-size: 14px;
	color: #b2b2b2;
	text-align: center;
}
.chakan{
	width: 98px;
	height: 28px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: 4px;
	font-size: 11px;
	color: #646464;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	margin: 10px auto;
	display: none;
}
.chakan:hover{
	background: rgba(0,0,0,0.06);	
}
.tteam li:hover{
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.05) inset;
}
.tteam li:hover .chakan{
  display: block;
}
/* team结束 */
/* footer开始 */
footer{
	height: 317px;
	background: #fff;
	border:  1px solid rgba(0, 0, 0, 0.14);
	margin-top: 60px;
}
.nei{
	width: 1220px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.zuopic{
	width: 214px;
	height: 99px;
	margin: 80px 0;
	float: left;
	margin-left: 20px;
}
.zuopic span{
	font-size: 32px;
	color: #414141;
}
.zuopic p{
	font-size: 14px;
	color:#b2b2b2 ;
}
.nei ul{
	width: 820px;
	height: 160px;
	float: left;
	margin-top: 80px;
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
}
.nei ul li{
	width: 205px;
	height: 160px;
}
.nei ul li a{
	display: block;
	font-size: 14px;
	line-height: 32px;
	color: #969696;
}
.nei ul li a:hover{
   color: blue;
}
.we{
	font-weight: bold;
	color: rgb(153, 153, 153);
}
.bottomp{
	width: 100%;
	height: 22px;
	font-size: 14px;
	color: #969696;
	text-align: center;
	line-height: 22px;
	position: absolute;
	top: 287px;

}
/* footer结束 */
.fanding{
		width: 54px;
		height: 54px;
		position: fixed;
		top: 500px;
		right: 0;
		display: none;
		cursor: pointer;

	}