*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	background: #ededed;
}
/* 顶部开始 */
.top{
	width: 100%;
	height: 75px;
	background: url('../img/toppic.png') no-repeat center
}
.topnav{
	width: 1220px;
	height: 75px;
	margin: 0 auto;
	/* background: red; */
}
.topnav .leftbox{
	font-size: 32px;
	line-height: 75px;
	text-align: center;
	width: 242px;
	color: #619d01;
	font-weight: bold;
	float: left;
}
.topnav .rightbox{
	width: 212px;
	height: 75px;
	float: right;
	display: flex;
	justify-content: space-between;
}
.rightbox a{
	display: block;
	width: 106px;
	line-height: 75px;
	font-size: 14px;
	color: #c8c8c8;
	text-align: center;
	cursor: pointer;
}
.rightbox a:hover{
	color: #fff;
}
.tabcontent{
	width: 1220px;
	height: 62px;
	margin: 0 auto;
	}
.tabcontent ul{
	width: 528px;
	height: 62px;   
}
.tabcontent ul li{
	float: left;
	position: relative;
}
.tabcontent ul li a{
   display: block;
   padding: 20px  20px;
   color: #666;
   font-size: 14px;
   line-height: 22px;  
}
.tabcontent ul li a:hover{
	color: blue;
}
.tabcontent ul li .shou{
	padding-left: 0px;
	
}
.tabcontent ul li .fuwu{
	font-weight: bold;
}
.xiala{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent ul li .xiala .xia1{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px;
}
.tabcontent ul li .xiala .xia1:hover{
	color: blue;
	background: #ccc;
}
.xiala1{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent ul li .xiala1 .xia2{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px
}
.tabcontent ul li .xiala1 .xia2:hover{
	color: blue;
	background: #ccc;
}
/* 定位的导航 */
.tabd{
	width: 100%;
	height: 62px;
	background: #ededed;
	position: fixed;
	top: -62px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #ededed;
	z-index: 100;
}
.tabcontent1{
	width: 1220px;
	height: 62px;
	margin: 0 auto;
}
.tabcontent1 ul{
	width: 528px;
	height: 62px;   
}
.tabcontent1 ul li{
	float: left;
	position: relative;
}
.tabcontent1 ul li a{
   display: block;
   padding: 20px  20px;
   color: #666;
   font-size: 14px;
   line-height: 22px;  
}
.tabcontent1 ul li a:hover{
	color: blue;
}
.tabcontent1 ul li .shou{
	padding-left: 0px;
}
 .tabcontent1 .xiala{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent1 ul li .xiala .xia1{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px
}
.tabcontent1 ul li .xiala .xia1:hover{
	color: blue;
	background: #ccc;
}
.tabcontent1  .xiala1{
	width: 120px;
	height: 0px;
	border-radius: 4px;
	top: 50px;
	left: 0;
	z-index: 99;
	background: #fff;
	overflow: hidden;
	position: absolute;
}
.tabcontent1 ul li .xiala1 .xia2{
	display: block;
	width: 120px;
	height: 30px;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	padding: 0;
	margin-top: 10px;
	padding-left: 5px
}
.tabcontent1 ul li .xiala1 .xia2:hover{
	color: blue;
	background: #ccc;
}
.tabcontent1 ul li .fuwu{
	font-weight: bold;
}
/* 定位的导航结束 */
/* 顶部结束 */
/* 咨询开始 */
.zixuntop{
	width: 1220px;
	height: 64px;
	margin: 0 auto;
	
}
.topti{
	font-size: 24px;
	text-align: center;
	line-height: 64px;
	float: left;
	margin-left: 550px;
}
.search-input{
	width: 167px;
	height: 36px;
	float: right;
	border-radius: 8px;
	border: 1px solid #ccc;
	position: relative;
	box-shadow:0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
}
.search-input input{
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: none;
	border: none;
	padding-left: 10px;
	outline: none;
}
.search-input button{
	position: absolute;
	right: 10px;
	top: 12px;
	border: none;
	background: none;
}
.search-input .icon-sousuo{
	font-size: 14px;
	font-weight: 400;
}
.zixun{
	width: 1220px;
	height: 1300px;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}
.zixun li{
	width: 1150px;
	height: 230px;
}
.zixun li .imgbox{
	width: 353px;
	height: 230px;
	float: left;
}
.zixun li img{
	width: 353px;
	height: 230px;
}
.shuoming{
	width: 777px;
	height: 230px;
	float: left;
	margin-left: 20px;
	padding-top: 10px;
}
.shuoming h2{
	font-size: 20px;
	color: #666;
	line-height: 30px;
	cursor: pointer;
}
.shuoming h2:hover{
	color: blue;
}
.shuoming p{
	font-size: 14px;
	color: #ccc;
	line-height: 30px;
	margin-top: 30px;
	
}
/* footer开始 */
footer{
	height: 317px;
	background: #fff;
	border:  1px solid rgba(0, 0, 0, 0.14);
	margin-top: 60px;
}
.nei{
	width: 1220px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.zuopic{
	width: 214px;
	height: 99px;
	margin: 80px 0;
	float: left;
	margin-left: 20px;
}
.zuopic span{
	font-size: 32px;
	color: #414141;
}
.zuopic p{
	font-size: 14px;
	color:#b2b2b2 ;
}
.nei ul{
	width: 820px;
	height: 160px;
	float: left;
	margin-top: 80px;
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
}
.nei ul li{
	width: 205px;
	height: 160px;
}
.nei ul li a{
	display: block;
	font-size: 14px;
	line-height: 32px;
	color: #969696;
}
.nei ul li a:hover{
   color: blue;
}
.we{
	font-weight: bold;
	color: rgb(153, 153, 153);
}
.bottomp{
	width: 100%;
	height: 22px;
	font-size: 14px;
	color: #969696;
	text-align: center;
	line-height: 22px;
	position: absolute;
	top: 287px;

}
/* footer结束 */
.fanding{
		width: 54px;
		height: 54px;
		position: fixed;
		top: 500px;
		right: 0;
		display: none;
		cursor: pointer;

	}